/*KAMAL
c0936623 */
body {
    margin : 0;
    padding : 0;
    border : 0;
    background-color:#e28d4b;
    color : white;
    font-family: "Roboto", sans-serif;
}
#container {
    width  : 80%;
    text-align: center;
    margin : auto;
}
header{
    background-color: black;
    margin : 3px 0; 
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 3px 10px white;
}

@media (max-width: 1014px){

    nav {
        padding: 1%;
        margin-bottom: 1%;
    }
    nav #logo 
    {
        color : red;
        font-size: 3em;
        text-decoration: none;
    
    }
    nav ul {
        list-style-type: none;
        text-align: center;
    }
    
    nav li {
        font-size: 1em;
        font-family: 'Francois One', sans-serif;
        border-top: 1px solid #fff;
        /* font-weight: bold; */
    }
    
    nav li:first-child {
        border-top: none;
    }
    
    nav li a {
        display: block;
        color: #fff;
        padding: 0.5em 1em; 
        text-decoration: none;
    }
    
    }

main {
    display: block;
    margin :1%;
    padding:1%;
    
}

main #welcome_image {
    object-fit: fit;
    border-radius : 70px;
    height:200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#welcome h1 {
    color : brown;
    font-weight: bold;
}

#weekly-sales {
    width : 80% auto;
    text-align: center;
    /* background-color:blue; */
}

#weekly-sales h1 {
    font-style: italic;
    color:black;
    animation:myAnime 0.5s infinite;

}

@keyframes myAnime
{
    0%{
        color :brown;
       
    }
    25% {
        color: red;
    }
    50%{
        color :rgb(232, 201, 89);
    }
    75% {
        color: pink;
    }
    100%
    {
        color : red;
    }
}

.product{
   margin:5px 2px;
   padding:10px;
   border:1px solid;
   border-radius: 50px;
   background-color: rgb(232, 201, 89);
   color:black;

}

.product img {
    height:180px;
    border-radius: 30px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.product p {
    font-size: 20px;
}
footer {
    font-size: 10px;
    color :black;
    margin-top : 2px;
    text-align:center;
}

footer a{
    text-decoration: none;
}




@media screen and (min-width:1015px){
    nav {
        display: inline-block;
        width : 100%;
        border : 1px solid #e28d4b;
        box-shadow: 10px 10px 100px burlywood;
        border-radius: 10px;
        margin : 1px 0;
        padding : 2px;
    }
    
    nav #logo{
        float: left;
        padding : 10px;
        text-decoration: none;
        padding-left : 20px;
        width : 14%;
        font-size: 1.55em;
        line-height: 40px;
        font-style: italic;
        color:rgb(169, 3, 3);
    
    }
    
    nav ul{
        float :right;
    }
    
    nav ul li{
        display: inline-block;
    }
    
    nav ul li a{
        padding : 2px 5px;
        text-decoration: none;
        line-height: 70px;
        border:1px solid black;
        border-radius: 20px;
        margin-left :10px; 
        color : black;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    
    nav ul li a:active{
        color:red;
    }
    
    nav ul li a:hover {
        color : red;
    }
}
#media 
{
    animation:myAnime 0.5s infinite;
    font-style: italic;

}

@keyframes myAnime
{
    0%{
        color :brown;
       
    }
    25% {
        color: red;
    }
    50%{
        color :rgb(151, 235, 27);
    }
    75% {
        color: pink;
    }
    100%
    {
        color : red;
    }
}


.video1
{
    max-width: 80%;
    border : 2px solid black;
    margin : 0 auto;
    padding : 50px 20px;
    border-radius:50px ;
    background-color: rgb(232, 201, 89);
}

.video1 h1{
    color  :rgb(232, 201, 89);
}
.video1 video{
    max-width: 80%;  
    margin : 30px;
    border : 1px solid black;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}


.music-sample{
    max-width: 60%;
    border : 2px solid black;
    margin :0 auto;
    padding : 20px 20px;
    border-radius:50px ;
    margin-top:40px;
    background-color: rgb(232, 201, 89);
}
.music-sample audio{
    max-width:80%;
}

.music-sample p{
    color : black;
}
